.top {
    height: 16.5%;
    width: 100%;
}

.bottom {
    height: 82%;
    width: 100%;
}

.maincontainers {
    margin-top: 15px;
}

.currencycontainer {
    display: inline-block;
    background-color: rgb(196, 196, 196, 0.6);
    width: 350px;
    padding: 5px;
    border: 3px solid black;
    border-radius: 20px;
    font-family: Arial;
    font-size: 24px;
    font-weight: bold;
}

.prestigetokencontainer {
    display: none;
    background-color: rgb(196, 196, 196, 0.6);
    width: 350px;
    padding: 5px;
    border: 3px solid black;
    border-radius: 20px;
    font-family: Arial;
    font-size: 24px;
    font-weight: bold;
}

[data-tab-content] {
    display: none;
}

.active[data-tab-content] {
    display: block;
}

#versionnumber {
    position: absolute; right: 5px; bottom: 5px;
    font-family: Verdana;
    font-size: 12px;
    font-weight: bold;
}

#gametitle {
    font-family: Verdana;
}

.tabs {
    background-color: #000000;
    color: #F8F8FF;
    font-family: Verdana;
    height: 18.5%;
    width: 70%;
    list-style-type: none;
    padding: 5px;
    border-radius: 10px
}

.basicupgrades {
    height: 70px;
    width: 330px;
    max-width: 100%;
    cursor: pointer;
    background-color: #000000;
    border-color: #87CEFA;
    border-radius: 15px;
    color: #F8F8FF;
    font-size: 12px;
    font-family: Verdana;
}

.prestige {
    height: 70px;
    width: 330px;
    max-width: 100%;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: #000000;
    border-color: red;
    border-radius: 15px;
    color: #F8F8FF;
    font-size: 12px;
    font-family: Verdana;
}

.prestigeupgrades {
    height: 70px;
    width: 330px;
    max-width: 100%;
    cursor: pointer;
    background-color: #000000;
    border-color: red;
    border-radius: 15px;
    color: #F8F8FF;
    font-size: 12px;
    font-family: Verdana;
}

#prestigeupgrade1title {
    font-style: italic;
}

#basicupgrade1title {
    font-style: italic;
}

#basicupgrade2title {
    font-style: italic;
}

#basicupgrade3title {
    font-style: italic;
}

#basicupgrade4title {
    font-style: italic;
}

.changelogcontent {
    height: 80%;
    width: 30%;
    font-size: 13px;
    font-family: Verdana;
    border-style: solid;
    border-radius: 10px;
}

#v0001title {
    font-weight: bold; 
    text-decoration: underline;
}

#v0002title {
    font-weight: bold;
    text-decoration: underline;
}

#v0003title {
    font-weight: bold;
    text-decoration: underline;
}

#v0004title {
    font-weight: bold; 
    text-decoration: underline;
}

#v0001 {
    margin-top: 0;
}

#v0002 {
    margin-top: 0;
}

#v0003 {
    margin-top: 0;
}

#v0004 {
    margin-top: 0;
}

.settingscontent {
    height: 14%;
    width: 25%;
    padding: 5px;
    border-style: solid;
    border-radius: 10px;
}

.basicupgradescontent {
    height: 37.25%;
    width: 19%;
    padding: 5px;
    border-style: solid;
    border-radius: 10px;
}

.prestigeupgradescontent {
    height: 50%;
    width: 19%;
    padding: 5px;
    border-style: solid;
    border-radius: 10px;
}

#prestigeupgrades {
    display: none;
}

.tab {
    float: left;
    cursor: pointer;
    font-size: 13px;
    padding: 4px;
    margin-right: 10px;
}

#tabcontent {
    margin-top: -2%;
}

#basicupgrades {
    margin-left: 9px;
}

#basicupgradesswitch {
    float: left;
    border: 2px solid #87CEFA;
    margin-left: 9px;
    border-radius: 15px;
}

#prestigeupgradesswitch {
    float: left;
    border: 2px solid red;
    border-radius: 15px;
}

#changelogswitch {
    float: right;
    border: 2px solid #F8F8FF;
    border-radius: 15px;
}

#settingsswitch {
    float: right;
    border: 2px solid #F8F8FF;
    border-radius: 15px;
}

.tab.active {
    background-color: #F8F8FF;
    color: #000000;
    border-radius: 12px;
}

.settingsbuttons {
    color: #F8F8FF;
    background-color: #000000;
    border-color: #87CEFA;
    border-radius: 10px;
    font-size: 12px;
    font-family: Verdana;
}